footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;    
    background-color: var(--colorPrimary);
    color: var(--colorTextLight);    
    border-top: 4px solid var(--colorAccent);
}

a{
    color: var(--colorTextLight);
}

a:hover{
    color: var(--colorAccent);
}