<div class="container-fluid">
    <div class="row" style="margin-top: 6%;">
        <div class="col-md-5">
            <div class="product-image-box">
                <div class="row">
                    <div class="col-md-2">
                        <div *ngFor="let image of product.images; let i = index">
                            <img class="img-thumbnail" [src]="image.linkImage" [alt]="product.productName" width=70px
                                height=80px (mouseenter)="loadImage(i)">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <!-- <img class="img-rounded" [src]="displayImage.linkImage" [alt]="product.productName"> -->
                        <lib-ngx-image-zoom class="img-rounded img-main" [thumbImage]="displayImage.linkImage"
                            [fullImage]="displayImage.linkImage" [zoomMode]="'hover'" [magnification]="1.75"
                            [enableScrollZoom]="true"></lib-ngx-image-zoom>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color="primary" class="mt-5"
                            style="width: 100%; height: 50px; display: block;" (click)="buyNow()">Buy Now</button>
                    </div>
                    <div class="col-md-6" *ngIf="!inCart">
                        <button mat-raised-button color="accent" class="mt-5"
                            style="width: 100%; height: 50px; display: block;" (click)="addToCart()">Add to
                            Cart</button>
                    </div>
                    <div class="col-md-6" *ngIf="inCart">
                        <button mat-raised-button color="accent" class="mt-5"
                            style="width: 100%; height: 50px; display: block;" [routerLink]="['/cart']">Go to
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md-1">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-capitalize">{{product.productName}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="label">Price :&nbsp;</label>
                </div>
                <div class="col-md-9">
                    <span *ngIf="!product.discount" class="h5"><b>&#x20B9; {{product.cost}}</b></span>
                    <span *ngIf="product.discount" class="h5"><b>&#x20B9;
                            {{(product.cost*(1-product.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                    <span *ngIf="product.discount" class="text-secondary"><del>&#x20B9;
                            {{product.cost}}</del></span>&nbsp;
                    <span *ngIf="product.discount" class="badge badge-success">{{product.discount}}% off</span>
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-3">
                    <label class="label">Category :&nbsp;</label>
                </div>
                <div class="col-md-9">
                    <a mat-stroked-button [routerLink]="['/products']"
                        [queryParams]="{filter: 'category',value:product.category}">{{product.category}}</a>
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-3">
                    <label class="label">Size :&nbsp;</label>
                </div>
                <div class="col-md-9">
                    <span *ngFor="let key of objectKeys(product.sizeAndQuantity)">
                        <button mat-mini-fab color="dark" [disabled]="product.sizeAndQuantity[key]==0"
                            (click)="sizeSelection(key)">{{key}}</button>&nbsp;
                    </span>

                </div>
            </div><br />

            <div class="row">
                <div class="col-md-3">
                    <label class="label">Product Info:&nbsp;</label>
                </div>
                <div class="col-md-9">
                    {{product.productInfo}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="card mb-5">
                        <div class="card-header h6">
                            Ratings & Reviews
                        </div>
                        <div class="card-body" *ngIf="product.avgRating!=0">
                            <h5 class="card-title">Total Ratings</h5>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="progress mb-1">
                                                <div class="progress-bar bg-success text-left" role="progressbar"
                                                    [style.width.%]="reviewCounts.five/maxReviews*100"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="ml-2" *ngIf="reviewCounts.five">{{reviewCounts.five}}
                                                        reviews</span>
                                                </div>
                                            </div>
                                            <div class="progress mb-1">
                                                <div class="progress-bar bg-success text-left" role="progressbar"
                                                    [style.width.%]="reviewCounts.four/maxReviews*100"
                                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="ml-2" *ngIf="reviewCounts.four">{{reviewCounts.four}}
                                                        reviews</span>
                                                </div>
                                            </div>
                                            <div class="progress mb-1">
                                                <div class="progress-bar bg-warning text-left" role="progressbar"
                                                    [style.width.%]="reviewCounts.three/maxReviews*100"
                                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="ml-2" *ngIf="reviewCounts.three">{{reviewCounts.three}}
                                                        reviews</span>
                                                </div>
                                            </div>
                                            <div class="progress mb-1">
                                                <div class="progress-bar bg-warning text-left" role="progressbar"
                                                    [style.width.%]="reviewCounts.two/maxReviews*100" aria-valuenow="75"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <span class="ml-2" *ngIf="reviewCounts.two">{{reviewCounts.two}}
                                                        reviews</span>
                                                </div>
                                            </div>
                                            <div class="progress mb-1">
                                                <div class="progress-bar bg-danger text-left" role="progressbar"
                                                    [style.width.%]="reviewCounts.one/maxReviews*100"
                                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="ml-2" *ngIf="reviewCounts.one">{{reviewCounts.one}}
                                                        reviews</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-left">
                                            5 <i class="fa fa-star" aria-hidden="true"></i><br>
                                            4 <i class="fa fa-star" aria-hidden="true"></i><br>
                                            3 <i class="fa fa-star" aria-hidden="true"></i><br>
                                            2 <i class="fa fa-star" aria-hidden="true"></i><br>
                                            1 <i class="fa fa-star" aria-hidden="true"></i><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <div class="h3 mt-auto">{{product.avgRating | number: '1.1-1'}} <i
                                            class="fa fa-star" aria-hidden="true"></i></div>
                                    out of 5
                                    <br><small>({{reviewCounts.one+reviewCounts.two+reviewCounts.three+reviewCounts.four+reviewCounts.five}}
                                        ratings)</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center" *ngIf="product.avgRating==0">
                            <h3>Not enough Ratings yet.</h3>
                        </div>
                        <ul class="list-group list-group-flush" *ngFor="let r of reviews">
                            <li class="list-group-item">
                                <div class="mb-3">
                                    <span class="h6">{{r.reviewTitle}}</span>
                                    <span class="float-right">{{ratingNumbers.indexOf(r.ratings)}} <i class="fa fa-star"
                                            aria-hidden="true"
                                            [ngStyle]="{'color': (r.ratings=='FIVE'||r.ratings=='FOUR') ? 'green' : ((r.ratings=='TWO'||r.ratings=='THREE') ? 'orange' : 'red')}"></i></span>
                                </div>
                                <p>{{r.reviewBody}}</p>
                                <span class="col-md-4 text-center"><i class="fa fa-user text-secondary"
                                        aria-hidden="true"></i>&nbsp; {{r.user.userName}}</span>&nbsp;&#x25cf;&nbsp;
                                <span class="col-md-4 text-center"><i class="fa fa-calendar text-secondary"
                                        aria-hidden="true"></i>&nbsp; {{r.reviewDate | date}}</span>&nbsp;&#x25cf;&nbsp;
                                <span class="col-md-4 text-center"><i class="fa fa-thumbs-up text-secondary"
                                        aria-hidden="true"></i>&nbsp; {{r.ratingHelpful}}</span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a *ngIf="product.avgRating!=0" [routerLink]="['/reviews',product.productId]"
                                class="card-link">All Reviews</a>
                            <a [routerLink]="['/add-review',product.productId]" class="card-link">Add a Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" *ngIf="similarProducts.length>0">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Similar Products
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="col-md-2" *ngFor="let p of similarProducts; let i = index">
                            <div class="row">
                                <div class="card text-center" *ngIf="i<6"
                                    style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                    <div>
                                        <a [routerLink]="[]" (click)="reloadPage(p.productId)"><img class="card-img-top"
                                                [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                        <div class="card-body text-truncate">
                                            <h3 class="card-title text-overflow text-capitalize" style="font-weight: 500;"><a
                                                    [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                            </h3>
                                            <p class="card-text text-center">
                                                <span *ngIf="p.avgRating!=0"
                                                    matTooltip="{{p.avgRating | ratingtooltip}}">
                                                    <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                        <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                            [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                    </span>
                                                    <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                        <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                            style="color: grey;"></i>
                                                    </span>
                                                    &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                    &nbsp; ({{p.totalRaters}})
                                                </span>
                                                <span *ngIf="p.avgRating==0" class="text-secondary">
                                                    Not enough ratings yet
                                                </span>
                                                <br /><br />
                                                <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                <span *ngIf="p.discount"><b>&#x20B9;
                                                        {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                        {{p.cost}}</del></span>&nbsp;
                                                <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                    off</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" *ngIf="newArrivals.length>0">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    New Arrivals
                </div>
                <div class="card-body">
                    <div class="card-deck">
                        <div class="col-md-2" *ngFor="let p of newArrivals; let i = index">
                            <div class="row">
                                <div class="card text-center" *ngIf="i<6"
                                    style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                    <div>
                                        <a [routerLink]="[]" (click)="reloadPage(p.productId)"><img class="card-img-top"
                                                [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                        <div class="card-body text-truncate">
                                            <h3 class="card-title text-overflow text-capitalize" style="font-weight: 500;"><a
                                                    [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                            </h3>
                                            <p class="card-text text-center">
                                                <span *ngIf="p.avgRating!=0"
                                                    matTooltip="{{p.avgRating | ratingtooltip}}">
                                                    <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                        <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                            [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                    </span>
                                                    <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                        <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                            style="color: grey;"></i>
                                                    </span>
                                                    &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                    &nbsp; ({{p.totalRaters}})
                                                </span>
                                                <span *ngIf="p.avgRating==0" class="text-secondary">
                                                    Not enough ratings yet
                                                </span>
                                                <br /><br />
                                                <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                <span *ngIf="p.discount"><b>&#x20B9;
                                                        {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                        {{p.cost}}</del></span>&nbsp;
                                                <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                    off</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>