.img-thumbnail{
    padding: 5px; 
    margin-bottom: 5px; 
    object-fit: cover;
    max-height: 80px;
}

::ng-deep .ngxImageZoomContainer > img{
    max-height: 600px!important;
}

button:disabled,
button[disabled]{
    background-color: #ededed;
    cursor: not-allowed;
    color:#454545;
}

