<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="margin-top: 7%;">
            <div class="card">
                <div class="card-header">
                    <span class="h5">Price Details</span>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="float-left">Price</span>
                        <span class="float-right">&#x20B9; {{cartCost | number:'.0-2'}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Delivery Fees</span>
                        <span class="float-right" *ngIf="deliveryFee>0">&#x20B9; {{deliveryFee}}</span>
                        <span class="float-right text-success" *ngIf="deliveryFee==0">FREE</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Total Amount</span>
                        <span class="float-right">&#x20B9; {{cart.totalCost | number:'.0-2'}}</span>
                    </li>
                    <li class="list-group-item text-success" *ngIf="cart && cart.products.length>0">You will save ₹
                        {{cartTotal-cartCost | number:'.0-2'}} on
                        this order</li>
                </ul>

            </div>
        </div>

        <div class="col-md-8" style="margin-top: 7%;">
            <div class="card">
                <div class="card-header">
                    <span class="h5">CHECKOUT</span>
                </div>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="addressAccordian">
                        <mat-expansion-panel-header>
                            Delivery Address
                        </mat-expansion-panel-header>
                        <div class="card">
                            <ul class="list-group">
                                <mat-radio-group [(ngModel)]="addressSelector">
                                    <li class="list-group-item" *ngFor="let a of viewUser.addresses; let i = index">
                                        <mat-radio-button [value]="a.street" (change)="setAddress(i)">
                                            <div class="ml-3">
                                                <mat-label class="h5">Address {{i+1}}</mat-label>
                                                <div>{{a.street}}</div>
                                                <div>{{a.city}}, {{a.state}} - {{a.pinCode}}</div>
                                            </div>
                                        </mat-radio-button>
                                    </li>
                                    <li class="list-group-item">
                                        <mat-radio-button value="new" (change)="addressFormInit()">
                                            <span class="ml-3">Add New Address</span>
                                        </mat-radio-button>
                                        <div *ngIf="addressSelector=='new'" class="ml-4 mt-2 col-md-9">
                                            <form [formGroup]="newAddressForm" class="form">
                                                <div class="form-group">
                                                    <mat-form-field appearance="outline" style="width: 100%;">
                                                        <mat-label>Street Name<span class="text-danger">*</span>
                                                        </mat-label>
                                                        <input matInput type="text" formControlName="street"
                                                            id="street">
                                                        <mat-error
                                                            *ngIf="newAddressForm.get('street').invalid && newAddressForm.get('street').touched"
                                                            class="text-danger">Street name should be provided and have
                                                            less than 100
                                                            characters
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group">
                                                    <mat-form-field appearance="outline" style="width: 25%;">
                                                        <mat-label>City<span class="text-danger">*</span></mat-label>
                                                        <input matInput type="text" formControlName="city" id="city">
                                                        <mat-error
                                                            *ngIf="newAddressForm.get('city').invalid && newAddressForm.get('city').touched"
                                                            class="text-danger">City name should be provided and have
                                                            less than 50
                                                            characters
                                                        </mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="outline"
                                                        style="width: 48%; margin-left: 1%; margin-right: 1%;">
                                                        <mat-label>State<span class="text-danger">*</span></mat-label>
                                                        <input matInput type="text" formControlName="state" id="state">
                                                        <mat-error
                                                            *ngIf="newAddressForm.get('state').invalid && newAddressForm.get('state').touched"
                                                            class="text-danger">State name should be provided and have
                                                            less than 50
                                                            characters
                                                        </mat-error>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="outline" style="width: 25%;">
                                                        <mat-label>Pin Code<span class="text-danger">*</span>
                                                        </mat-label>
                                                        <input matInput type="text" formControlName="pinCode"
                                                            id="pinCode">
                                                        <mat-error
                                                            *ngIf="newAddressForm.get('pinCode').invalid && newAddressForm.get('pinCode').touched"
                                                            class="text-danger">Pin Code should be provided and have 6
                                                            digits
                                                            characters
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </mat-radio-group>
                            </ul>
                            <div class="card-footer">
                                <button mat-raised-button color="accent"
                                    (click)="proceedAddressSelected()">Continue</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="cartAccordian">
                        <mat-expansion-panel-header>
                            Cart
                        </mat-expansion-panel-header>
                        <div class="card">
                            <ul *ngFor="let p of cart.products; let i = index" class="list-group">
                                <li class="list-group-item">
                                    <div class="row mb-3">
                                        <div class="col-md-3 text-center">
                                            <a [routerLink]="['/product',p.productId]"> <img class="img-thumbnail"
                                                    [src]="p.images[0].linkImage" height="50"></a>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="h6 text-capitalize"><a
                                                    [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                            </div>
                                            <div class="text-secondary">Size : {{cart.sizes[i]}}</div>
                                            <div>
                                                <span *ngIf="!p.discount"><b>&#x20B9;
                                                        {{p.cost*cart.quantities[i]}}</b></span>
                                                <span *ngIf="p.discount"><b>&#x20B9;
                                                        {{(p.cost*(1-p.discount/100))*cart.quantities[i] | number:'.0-2'}}</b></span>&nbsp;
                                                <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                        {{p.cost*cart.quantities[i]}}</del></span>&nbsp;
                                                <sup><span *ngIf="p.discount"
                                                        class="badge badge-success">{{p.discount}}%
                                                        off</span></sup>
                                            </div><br />
                                            <div>
                                                <span><button mat-mini-fab color="dark"
                                                        [disabled]="cart.quantities[i]<=1"
                                                        (click)="subQty(i)">-</button></span>&nbsp;&nbsp;
                                                <span>{{cart.quantities[i]}}</span>&nbsp;&nbsp;
                                                <span><button mat-mini-fab color="dark"
                                                        (click)="addQty(i)">+</button></span>&nbsp;&nbsp;
                                                <span><button mat-button color="accent"
                                                        (click)="removeProductConfirmer(i)">Remove</button></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-secondary">Delivery by
                                                {{deliveryDate | date:'EEEE, MMM d'}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="card-footer">
                                <button mat-raised-button color="accent"
                                    (click)="proceedCartConfirmed()">Continue</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="payAccordian">
                        <mat-expansion-panel-header>
                            Payment
                        </mat-expansion-panel-header>
                        <div class="card">
                            <ul class="list-group">
                                <mat-radio-group [(ngModel)]="payMode">
                                    <li class="list-group-item">
                                        <mat-radio-button value="card" (change)="payValid=true">Card Pay
                                        </mat-radio-button>
                                        <div *ngIf="payMode=='card'" class="ml-4 mt-2 col-md-6">
                                            <div class="card">
                                                <ul class="list-group">
                                                    <mat-radio-group [(ngModel)]="cardSelector">
                                                        <li class="list-group-item"
                                                            *ngFor="let a of cardList; let i = index">
                                                            <mat-radio-button [value]="a.cardHolderName"
                                                                (change)="setCard(i)">
                                                                <div class="ml-3">
                                                                    <mat-icon class="float-right" color="warn"
                                                                        (click)="deleteCardConfirmer(a.cardNumber)">
                                                                        delete
                                                                    </mat-icon>
                                                                    <div class="h5">
                                                                        {{a.cardHolderName}}

                                                                    </div>
                                                                    <div>
                                                                        <mat-label>Card No : </mat-label>
                                                                        {{a.cardNumber | cardPipe}}
                                                                    </div>
                                                                    <div>
                                                                        <mat-label>Expiring on</mat-label> :
                                                                        {{a.expiryMonthYear}}
                                                                    </div>
                                                                </div>
                                                            </mat-radio-button>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <mat-radio-button value="new" (change)="cardFormInit()">
                                                                <span class="ml-3">Add New Card</span>
                                                            </mat-radio-button>
                                                            <div *ngIf="cardSelector=='new'" class="ml-4 mt-2 col-md-9">
                                                                <form [formGroup]="newCardForm" class="form">
                                                                    <div class="form-group">
                                                                        <mat-form-field appearance="outline"
                                                                            style="width: 100%;">
                                                                            <mat-label>Name on Card {{saveCard}}<span
                                                                                    class="text-danger">*</span>
                                                                            </mat-label>
                                                                            <input matInput type="text"
                                                                                formControlName="cardHolderName"
                                                                                id="cardHolderName">
                                                                            <mat-error
                                                                                *ngIf="newCardForm.get('cardHolderName').invalid && newCardForm.get('cardHolderName').touched"
                                                                                class="text-danger">Name on Card should
                                                                                be provided as is
                                                                            </mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <mat-form-field appearance="outline"
                                                                            style="width: 100%;">
                                                                            <mat-label>Card Number<span
                                                                                    class="text-danger">*</span>
                                                                            </mat-label>
                                                                            <input matInput type="number"
                                                                                formControlName="cardNumber" maxlength="16"
                                                                                id="cardNumber">
                                                                            <mat-error
                                                                                *ngIf="newCardForm.get('cardNumber').invalid && newCardForm.get('cardNumber').touched"
                                                                                class="text-danger">Card number should
                                                                                be of 16 digits
                                                                            </mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <mat-form-field appearance="outline"
                                                                            style="width: 49%;">
                                                                            <mat-label>CVV<span
                                                                                    class="text-danger">*</span>
                                                                            </mat-label>
                                                                            <input matInput type="password" maxlength="3"
                                                                                formControlName="cvv" id="cvv">
                                                                            <mat-error
                                                                                *ngIf="newCardForm.get('cvv').invalid && newCardForm.get('cvv').touched"
                                                                                class="text-danger">CVV should be of 3
                                                                                digits
                                                                            </mat-error>
                                                                        </mat-form-field>
                                                                        <mat-form-field appearance="outline"
                                                                            style="width: 49%; margin-left: 2%;">
                                                                            <mat-label>Expiry<span
                                                                                    class="text-danger">*</span>
                                                                            </mat-label>
                                                                            <input matInput type="text" maxlength="5"
                                                                                formControlName="expiryMonthYear"
                                                                                id="expiryMonthYear">
                                                                            <mat-error
                                                                                *ngIf="newCardForm.get('expiryMonthYear').invalid && newCardForm.get('expiryMonthYear').touched"
                                                                                class="text-danger">Expiry should be a
                                                                                future date with in 6 years
                                                                            </mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </form>
                                                                <mat-checkbox [(ngModel)]="saveCard" checked="true">Save
                                                                    this card</mat-checkbox>
                                                            </div>
                                                        </li>
                                                    </mat-radio-group>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <mat-radio-button value="upi" (change)="payValid=false">UPI Pay
                                        </mat-radio-button>
                                        <div *ngIf="payMode=='upi'" class="ml-4 mt-2">
                                            <mat-form-field appearance="outline" [color]="vpaColor">
                                                <mat-label>UPI VPA</mat-label>
                                                <input matInput type="text" [(ngModel)]="upiVpa" style="width: 100px;">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button
                                                    aria-label="Clear" (click)="validateVPA()">
                                                    <mat-icon *ngIf="validVPA==null">search</mat-icon>
                                                    <mat-icon *ngIf="validVPA==false" color="warn">error
                                                    </mat-icon>
                                                    <mat-icon *ngIf="validVPA" color="accent">verified_user
                                                    </mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <mat-radio-button value="cash" (change)="payValid=true">Cash On Delivery
                                        </mat-radio-button>
                                        <div *ngIf="payMode=='cash'" class="alert alert-success ml-4 mt-2">
                                            Please provide the bill amount &#x20B9; {{cart.totalCost | number:'.0-2'}}
                                            in cash to the delivery person.
                                        </div>
                                    </li>
                                </mat-radio-group>
                            </ul>
                            <div class="card-footer">
                                <button mat-raised-button color="accent" (click)="placeOrder()"
                                    [disabled]="!payValid">Confirm and Place
                                    Order
                                </button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>