.card{
  margin-top: 20%;
  vertical-align:middle;
  border: 2px solid var(--colorPrimary);
  padding: 2em;
}

.error-text{
    color: #ff0000;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.btn{
  background-color: var(--colorAccent);
  color: var(--colorTextLight);
}

.btn:active{
  background-color: var(--colorAccent);
}

.btn:focus{
  background-color: var(--colorAccent);
}