.card{
    margin-top: 20%;
    vertical-align:middle;
    border: 2px solid var(--colorPrimary);
    padding: 2em;
    
}

.error-text{
    color: #ff0000;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}