<nav class="navbar color navbar-expand-md fixed-top" id="mainNav">
    <a class="navbar-brand"  [routerLink]="['/home']">Start Wandering</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu<i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" [routerLink]="['/profile']">Welcome {{userName}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/hotdeals']" >Hot Deals<sup class="badge-padding"><span class="badge badge-danger">New</span></sup></a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" *ngIf="loggedIn" [routerLink]="['/view']">My Cart</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
                  <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        
            <li class="nav-item" *ngIf="!loggedIn">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
     
        </ul>
      </div>
    </nav>
        <!--div *ngIf="temp==true">
          <p-dialog header="Log Out" (onHide)="cd()" [(visible)]="show" [modal]="true" [style]="{width:'300px',height:'200px'}">
             
              <div class="text-danger"><h5>Are you sure you want to log out ?</h5></div>
             
              <p-footer>
                  <button class="btn btn-primary" (click)="cd()">Cancel</button>
                  <button class="btn btn-secondry btn-success" (click)="cand()">Log Out</button>
  
              </p-footer>
          </p-dialog>
  
      </div-->
    
  