.navbar-color{
    /*background-color: #1b242f;*/
    background-color: var(--colorPrimary);
    border-bottom: 4px solid var(--colorAccent);
}

.nav-link{
    color: var(--colorTextLight);
    font-weight: 400;
}

.navbar-brand{
    color: var(--colorTextLight);
    font-weight: 400;
}

a:hover{
    color: var(--colorAccent);
}

a i{
    font-size:20px;
    color:var(--colorTextLight);
}

.navbar-toggler{

    color: var(--colorTextLight);    
    border-color: #fff;
    
}

.navbar-toggler:hover {
    outline:5px auto var(--colorAccent);
}

.navbar-toggler:focus{
    outline:5px auto var(--colorTextLight);
}

.navbar-toggler:active{
    outline: 5px auto var(--colorAccent);
}