<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 offset-md-1" style="margin-top: 2%;">
            <div class="card text-center mt-5">
                <div>
                    <a [routerLink]="['/product',p.productId]"><img class="card-img-top" [src]="p.images[0].linkImage"
                            [alt]="p.productName"></a>
                    <div class="card-body">
                        <h3 class="card-title h6 text-capitalize"><a
                                [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                        </h3>
                        <p class="card-text">
                            <span *ngIf="p.avgRating!=0" matTooltip="{{p.avgRating | ratingtooltip}}">
                                <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                    <i class="fa fa-star" *ngIf="j<p.avgRating" [matTooltip]="p.avgRating"
                                        style="color: orange;"></i>
                                </span>
                                <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                    <i class="fa fa-star" *ngIf="j>p.avgRating" style="color: grey;"></i>
                                </span>
                                &nbsp; {{p.avgRating}}
                                &nbsp; ({{p.totalRaters}})
                            </span>
                            <span *ngIf="p.avgRating==0" class="text-secondary">
                                Not enough ratings yet
                            </span>
                            <br /><br />
                            <b>&#x20B9; {{p.cost}}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mb-5" style="margin-top: 10%;">
                <div class="card-header head-container">
                    <span class="h5 vertical-center">Ratings & Reviews</span>
                    <span class="float-right">
                        <mat-form-field>
                            <mat-label>Sort by --</mat-label>
                            <mat-select>
                                <mat-option value="Most Helpful" (click)="sortByHelpful()">
                                    Most Helpful
                                </mat-option>

                                <mat-option value="Top Rated" (click)="sortByRating()">
                                    Top Rated
                                </mat-option>

                                <mat-option value="Least Liked" (click)="sortByRatingRev()">
                                    Least Liked
                                </mat-option>

                                <mat-option value="Recent Reviews" (click)="sortByDate()">
                                    Recent Reviews
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Total Ratings</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-success text-left" role="progressbar"
                                            [style.width.%]="reviewCounts.five/maxReviews*100" aria-valuenow="25"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <span class="ml-2" *ngIf="reviewCounts.five">{{reviewCounts.five}}
                                                reviews</span>
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-success text-left" role="progressbar"
                                            [style.width.%]="reviewCounts.four/maxReviews*100" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <span class="ml-2" *ngIf="reviewCounts.four">{{reviewCounts.four}}
                                                reviews</span>
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-warning text-left" role="progressbar"
                                            [style.width.%]="reviewCounts.three/maxReviews*100" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <span class="ml-2" *ngIf="reviewCounts.three">{{reviewCounts.three}}
                                                reviews</span>
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-warning text-left" role="progressbar"
                                            [style.width.%]="reviewCounts.two/maxReviews*100" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <span class="ml-2" *ngIf="reviewCounts.two">{{reviewCounts.two}}
                                                reviews</span>
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-danger text-left" role="progressbar"
                                            [style.width.%]="reviewCounts.one/maxReviews*100" aria-valuenow="100"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <span class="ml-2" *ngIf="reviewCounts.one">{{reviewCounts.one}}
                                                reviews</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-left">
                                    5 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    4 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    3 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    2 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    1 <i class="fa fa-star" aria-hidden="true"></i><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="h3 mt-auto">
                                {{(reviewCounts.one+(reviewCounts.two*2)+(reviewCounts.three*3)+(reviewCounts.four*4)+(reviewCounts.five*5))/(reviewCounts.one+reviewCounts.two+reviewCounts.three+reviewCounts.four+reviewCounts.five) | number: '1.1-1'}}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            out of 5
                            <br><small>({{reviewCounts.one+reviewCounts.two+reviewCounts.three+reviewCounts.four+reviewCounts.five}}
                                ratings)</small>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let r of reviews">
                    <li class="list-group-item">
                        <div class="mb-3">
                            <span class="h6">{{r.reviewTitle}}</span>
                            <span class="float-right">{{ratingNumbers.indexOf(r.ratings)}} <i class="fa fa-star"
                                    aria-hidden="true"
                                    [ngStyle]="{'color': (r.ratings=='FIVE'||r.ratings=='FOUR') ? 'green' : ((r.ratings=='TWO'||r.ratings=='THREE') ? 'orange' : 'red')}"></i></span>
                        </div>
                        <p>{{r.reviewBody}}</p>
                        <span class="col-md-4 text-center"><i class="fa fa-user text-secondary"
                                aria-hidden="true"></i>&nbsp; {{r.user.userName}}</span>&nbsp;&#x25cf;&nbsp;
                        <span class="col-md-4 text-center"><i class="fa fa-calendar text-secondary"
                                aria-hidden="true"></i>&nbsp; {{r.reviewDate | date}}</span>&nbsp;&#x25cf;&nbsp;
                        <span class="col-md-4 text-center"><i class="fa fa-thumbs-up text-secondary"
                                aria-hidden="true"></i>&nbsp; {{r.ratingHelpful}}</span>
                    </li>
                </ul>
                <div class="card-body">
                    <a [routerLink]="['/add-review',productId]" class="card-link">Add Review</a>
                </div>
            </div>
        </div>
    </div>
</div>