<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-5" style="margin-top: 10%;">
                <div class="card-header h6">
                    <span class="h3">Ratings & Reviews</span>
                    <span class="float-right">
                        <mat-form-field>
                            <mat-label>Sort by --</mat-label>
                            <mat-select>
                                <mat-option value="Most Helpful" (click)="sortByHelpful()">
                                    Most Helpful
                                </mat-option>
                            
                                <mat-option value="Top Rated" (click)="sortByRating()">
                                    Top Rated
                                </mat-option>
                            
                                <mat-option value="Least Liked" (click)="sortByRatingRev()">
                                    Least Liked
                                </mat-option>
                            
                                <mat-option value="Recent Reviews" (click)="sortByDate()">
                                    Recent Reviews
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Total Ratings</h5>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-success text-left pl-2" role="progressbar"
                                            [style.width.%]="reviewCounts.five/maxReviews*100" aria-valuenow="25"
                                            aria-valuemin="0" aria-valuemax="100">
                                            {{reviewCounts.five}} reviews
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-success text-left pl-2" role="progressbar"
                                            [style.width.%]="reviewCounts.four/maxReviews*100" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100">
                                            {{reviewCounts.four}} reviews
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-warning text-left pl-2" role="progressbar"
                                            [style.width.%]="reviewCounts.three/maxReviews*100" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100">
                                            {{reviewCounts.three}} reviews
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-warning text-left pl-2" role="progressbar"
                                            [style.width.%]="reviewCounts.two/maxReviews*100" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100">
                                            {{reviewCounts.two}} reviews
                                        </div>
                                    </div>
                                    <div class="progress mb-1">
                                        <div class="progress-bar bg-danger text-left pl-2" role="progressbar"
                                            [style.width.%]="reviewCounts.one/maxReviews*100" aria-valuenow="100"
                                            aria-valuemin="0" aria-valuemax="100">
                                            {{reviewCounts.one}} reviews
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-left">
                                    5 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    4 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    3 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    2 <i class="fa fa-star" aria-hidden="true"></i><br>
                                    1 <i class="fa fa-star" aria-hidden="true"></i><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="h3 mt-auto">
                                {{(reviewCounts.one+(reviewCounts.two*2)+(reviewCounts.three*3)+(reviewCounts.four*4)+(reviewCounts.five*5))/(reviewCounts.one+reviewCounts.two+reviewCounts.three+reviewCounts.four+reviewCounts.five)}}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            out of 5
                            <br><small>({{reviewCounts.one+reviewCounts.two+reviewCounts.three+reviewCounts.four+reviewCounts.five}}
                                ratings)</small>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let r of reviews">
                    <li class="list-group-item">
                        <div class="mb-3">
                            <span class="h6">{{r.reviewTitle}}</span>
                            <span class="float-right">{{r.ratings}} <i class="fa fa-star" aria-hidden="true"
                                    [ngStyle]="{'color': (r.ratings=='FIVE'||r.ratings=='FOUR') ? 'green' : ((r.ratings=='TWO'||r.ratings=='THREE') ? 'orange' : 'red')}"></i></span>
                        </div>
                        <p>{{r.reviewBody}}</p>
                        <span class="col-md-4 text-center"><i class="fa fa-user text-secondary"
                                aria-hidden="true"></i>&nbsp; {{r.user.userName}}</span>&nbsp;&#x25cf;&nbsp;
                        <span class="col-md-4 text-center"><i class="fa fa-calendar text-secondary"
                                aria-hidden="true"></i>&nbsp; {{r.reviewDate | date}}</span>&nbsp;&#x25cf;&nbsp;
                        <span class="col-md-4 text-center"><i class="fa fa-thumbs-up text-secondary"
                                aria-hidden="true"></i>&nbsp; {{r.ratingHelpful}}</span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Add Review</a>
                </div>
            </div>
        </div>
    </div>
</div>