.head-container {
    height: 100%;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product-image-box{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}