.btn{
    background-color: var(--colorAccent);
    color: var(--colorTextLight);
  }

.btn:active{
    background-color: var(--colorAccent);
}

.btn:focus{
    background-color: var(--colorAccent);
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90px;
    height: 120px;
    object-fit: cover;
  }

 