img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90px;
    height: 120px;
    object-fit: cover;
}

::-webkit-scrollbar{
    display: none;
}

.hover-scale {
    transition: transform .3s;
}

.hover-scale:hover {
    transform: scale(1.02);
}
