.card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

.hover-scale {
    transition: transform .3s;
}

.hover-scale:hover {
    transform: scale(1.2);
}

.head-container {
    height: 100%;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}