.card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

.hover-scale {
    transition: transform .3s;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.head-container {
    height: 100%;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
    height: 2px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
    background: var(--colorAccent);
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;    
    background-color: var(--colorPrimary);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
   color: var(--colorTextLight)
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.text-overflow {
    overflow:hidden;
    text-overflow:ellipsis;
}