:root {
    --colorPrimary : #1b242f;
    --colorAccent :  #1ab188;
    --colorTextLight : #fff;
}
html {  scroll-behavior: smooth;position: relative;   min-height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding-bottom: 115px;}



