:root {
    --colorPrimary : #1b242f;
    --colorAccent :  #1ab188;
    --colorTextLight : #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {  scroll-behavior: smooth;}
