<div class="container-fluid">
    <div class="row" style="margin-top:4%;background-color: #1ab188;">
        <ul class="nav nav-pills" id="test">
            <li class="nav-item">
                <a class="nav-link" href="#jeans">Jeans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#shirts">Shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tshirts">T-Shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skirts">Skirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tops">Tops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#trousers">Trousers</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" *ngFor="let c of carouselList, let i=index" [attr.data-slide-to]="i"></li>
            </ol>

            <div class="carousel-inner w-100 d-block">

                <div class="carousel-item" *ngFor="let c of carouselList, let i=index;let isFirst = first"
                    [ngClass]="{active:isFirst}">
                    <a class="text-dark" [routerLink]="['/products']" [queryParams]="{filter: c.filter,value:c.value}">
                        <img [src]="c.linkImage" [alt]="c.value" class="d-block w-100 rounded"
                            style="height:430px;width:100%"></a>
                </div>

            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <div>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark" id="jeans" [routerLink]="['/products']"
                            [queryParams]="{filter: 'category',value:'JEANS'}"> Jeans</a>
                    </div>
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="col-md-2" *ngFor="let p of jeansProductList; let i = index">
                                <div class="row">
                                    <div class="card text-center" *ngIf="i<6"
                                        style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                        <div>
                                            <a [routerLink]="['/product',p.productId]"><img class="card-img-top"
                                                    [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                            <div class="card-body text-truncate">
                                                <h3 class="card-title text-overflow"><a
                                                        [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                                </h3>
                                                <p class="card-text">
                                                    <span *ngIf="p.avgRating!=0"
                                                        matTooltip="{{p.avgRating | ratingtooltip}}">
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                                [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                        </span>
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                                style="color: grey;"></i>
                                                        </span>
                                                        &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                        &nbsp; ({{p.totalRaters}})
                                                    </span>
                                                    <span *ngIf="p.avgRating==0" class="text-secondary">
                                                        Not enough ratings yet
                                                    </span>
                                                    <br /><br />
                                                    <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                    <span *ngIf="p.discount"><b>&#x20B9;
                                                            {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                    <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                            {{p.cost}}</del></span>&nbsp;
                                                    <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                        off</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark" id="shirts" [routerLink]="['/products']"
                            [queryParams]="{filter: 'category',value:'SHIRT'}"> Shirts</a>
                    </div>
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="col-md-2" *ngFor="let p of shirtProductList; let i = index">
                                <div class="row">
                                    <div class="card text-center" *ngIf="i<6"
                                        style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                        <div>
                                            <a [routerLink]="['/product',p.productId]"><img class="card-img-top"
                                                    [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                            <div class="card-body text-truncate">
                                                <h3 class="card-title text-overflow"><a
                                                        [routerLink]="['/product',p.productId]">{{p.productName}}</a>&nbsp;
                                                </h3>
                                                <p class="card-text text-center">
                                                    <span *ngIf="p.avgRating!=0"
                                                        matTooltip="{{p.avgRating | ratingtooltip}}">
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                                [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                        </span>
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                                style="color: grey;"></i>
                                                        </span>
                                                        &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                        &nbsp; ({{p.totalRaters}})
                                                    </span>
                                                    <span *ngIf="p.avgRating==0" class="text-secondary">
                                                        Not enough ratings yet
                                                    </span>
                                                    <br /><br />
                                                    <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                    <span *ngIf="p.discount"><b>&#x20B9;
                                                            {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                    <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                            {{p.cost}}</del></span>&nbsp;
                                                    <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                        off</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark" id="tshirts" [routerLink]="['/products']"
                            [queryParams]="{filter: 'category',value:'TSHIRT'}"> T-Shirts</a>
                    </div>
                    <div class="card-body">
                        <div class="card-deck">

                            <div class="col-md-2" *ngFor="let p of tshirtProductList; let i = index">
                                <div class="row">
                                    <div class="card text-center" *ngIf="i<6"
                                        style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                        <div>
                                            <a [routerLink]="['/product',p.productId]"><img class="card-img-top"
                                                    [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                            <div class="card-body text-truncate">
                                                <h3 class="card-title text-overflow"><a
                                                        [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                                </h3>
                                                <p class="card-text text-center">
                                                    <span *ngIf="p.avgRating!=0"
                                                        matTooltip="{{p.avgRating | ratingtooltip}}">
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                                [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                        </span>
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                                style="color: grey;"></i>
                                                        </span>
                                                        &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                        &nbsp; ({{p.totalRaters}})
                                                    </span>
                                                    <span *ngIf="p.avgRating==0" class="text-secondary">
                                                        Not enough ratings yet
                                                    </span>
                                                    <br /><br />
                                                    <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                    <span *ngIf="p.discount"><b>&#x20B9;
                                                            {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                    <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                            {{p.cost}}</del></span>&nbsp;
                                                    <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                        off</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark" id="skirts" [routerLink]="['/products']"
                            [queryParams]="{filter: 'category',value:'SKIRTS'}"> Skirts</a>
                    </div>
                    <div class="card-body">
                        <div class="card-deck">

                            <div class="col-md-2" *ngFor="let p of skirtsProductList; let i = index">
                                <div class="row">
                                    <div class="card text-center" *ngIf="i<6"
                                        style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                        <div>
                                            <a [routerLink]="['/product',p.productId]"><img class="card-img-top"
                                                    [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                            <div class="card-body text-truncate">
                                                <h3 class="card-title text-overflow"><a
                                                        [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                                </h3>
                                                <p class="card-text text-center">
                                                    <span *ngIf="p.avgRating!=0"
                                                        matTooltip="{{p.avgRating | ratingtooltip}}">
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                                [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                        </span>
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                                style="color: grey;"></i>
                                                        </span>
                                                        &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                        &nbsp; ({{p.totalRaters}})
                                                    </span>
                                                    <span *ngIf="p.avgRating==0" class="text-secondary">
                                                        Not enough ratings yet
                                                    </span>
                                                    <br /><br />
                                                    <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                    <span *ngIf="p.discount"><b>&#x20B9;
                                                            {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                    <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                            {{p.cost}}</del></span>&nbsp;
                                                    <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                        off</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark" id="tops" [routerLink]="['/products']"
                            [queryParams]="{filter: 'category',value:'TOPS'}"> Tops</a>
                    </div>
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="col-md-2" *ngFor="let p of topsProductList; let i = index">
                                <div class="row">
                                    <div class="card text-center" *ngIf="i<6"
                                        style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                        <div>
                                            <a [routerLink]="['/product',p.productId]"><img class="card-img-top"
                                                    [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                            <div class="card-body text-truncate">
                                                <h3 class="card-title text-overflow"><a
                                                        [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                                </h3>
                                                <p class="card-text text-center">
                                                    <span *ngIf="p.avgRating!=0"
                                                        matTooltip="{{p.avgRating | ratingtooltip}}">
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                                [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                        </span>
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                                style="color: grey;"></i>
                                                        </span>
                                                        &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                        &nbsp; ({{p.totalRaters}})
                                                    </span>
                                                    <span *ngIf="p.avgRating==0" class="text-secondary">
                                                        Not enough ratings yet
                                                    </span>
                                                    <br /><br />
                                                    <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                    <span *ngIf="p.discount"><b>&#x20B9;
                                                            {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                    <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                            {{p.cost}}</del></span>&nbsp;
                                                    <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                        off</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark" id="trousers" [routerLink]="['/products']"
                            [queryParams]="{filter: 'category',value:'TROUSERS'}"> Trousers</a>
                    </div>
                    <div class="card-body">
                        <div class="card-deck">

                            <div class="col-md-2" *ngFor="let p of trousersProductList; let i = index">
                                <div class="row">
                                    <div class="card text-center" *ngIf="i<6"
                                        style="margin-left: 5%; margin-right: 5%;width: 18rem">
                                        <div>
                                            <a [routerLink]="['/product',p.productId]"><img class="card-img-top"
                                                    [src]="p.images[0].linkImage" [alt]="p.productName"></a>
                                            <div class="card-body text-truncate">
                                                <h3 class="card-title text-overflow"><a
                                                        [routerLink]="['/product',p.productId]">{{p.productName}}</a>
                                                </h3>
                                                <p class="card-text text-center">
                                                    <span *ngIf="p.avgRating!=0"
                                                        matTooltip="{{p.avgRating | ratingtooltip}}">
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j<p.avgRating"
                                                                [matTooltip]="p.avgRating" style="color: orange;"></i>
                                                        </span>
                                                        <span *ngFor="let i of [1,2,3,4,5] ;let j = index">
                                                            <i class="fa fa-star" *ngIf="j>=p.avgRating"
                                                                style="color: grey;"></i>
                                                        </span>
                                                        &nbsp; {{p.avgRating | number: '1.1-1'}}
                                                        &nbsp; ({{p.totalRaters}})
                                                    </span>
                                                    <span *ngIf="p.avgRating==0" class="text-secondary">
                                                        Not enough ratings yet
                                                    </span>
                                                    <br /><br />
                                                    <span *ngIf="!p.discount"><b>&#x20B9; {{p.cost}}</b></span>
                                                    <span *ngIf="p.discount"><b>&#x20B9;
                                                            {{(p.cost*(1-p.discount/100)) | number:'.0-2'}}</b></span>&nbsp;
                                                    <span *ngIf="p.discount" class="text-secondary"><del>&#x20B9;
                                                            {{p.cost}}</del></span>&nbsp;
                                                    <span *ngIf="p.discount" class="badge badge-success">{{p.discount}}%
                                                        off</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>