<div class="container-fluid">
    <div class="row" style="margin-top:7%">
        <div class="col-md-3">
            <div>
                <div class="card" style="width: 14rem;" *ngFor="let p of jeansProductList">
                    <img class="card-img-top" [src]="p.images[0].linkImage" [alt]="p.productName">
                    <div class="card-title">{{p.productName}}</div>
                    <div class="card-body">                      
                        <i class="fa fa-star" [style.background]='"linear-gradient(to right, orange"+ (p.avgRating*100)+"%, grey "+ (100-p.avgRating*100)+"%)"'></i> &nbsp; {{p.avgRating}}   
        
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>